<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RebusUnitTest" 
         connectionString="localhost:6379" />
   <!--     connectionString="pub-redis-12155.eu-west-1-2.1.ec2.garantiadata.com:12155,password=rebustransportsecurity" />-->

  </connectionStrings>
  
</configuration>